{
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "indent": [
      "error",
      2
    ]
  },
  "globals": {
    "browser": "readonly",
    "chrome": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}